@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

:root {
  --header-height: 3rem;

  --hue-color: 250;

  --first-color: rgb(148, 147, 147);
  --first-color-second: rgb(148, 147, 147);
  --first-color-alt: hsl(var(--hue-color), 57%, 53%);
  --first-color-lighter: hsl(var(--hue-color), 92%, 85%);
  --title-color: hsl(var(--hue-color), 8%, 15%);
  --text-color: hsl(var(--hue-color), 8%, 45%);
  --text-color-light: hsl(var(--hue-color), 8%, 65%);
  --input-color: hsl(var(--hue-color), 70%, 96%);
  --body-color: hsl(var(--hue-color), 60%, 99%);
  --container-color: #fff;
  --scroll-bar-color: hsl(var(--hue-color), 12%, 90%);
  --scroll-thumb-color: hsl(var(--hue-color), 12%, 80%);

  --body-font: "Poppins", sans-serif;
  --big-font-size: 2rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1.125rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;

  --font-medium: 500;
  --font-semi-bold: 600;

  --margin-bottom-0-25: 0.25rem;
  --margin-bottom-0-5: 0.5rem;
  --margin-bottom-0-75: 0.75rem;
  --margin-bottom-0-1: 1rem;
  --margin-bottom-0-1-5: 1.5rem;
  --margin-bottom-0-2: 2rem;
  --margin-bottom-0-2-5: 2.5rem;
  --margin-bottom-0-3: 3rem;

  --z-tooltip: 10;
  --z-fixed: 100;
  --z-model: 100;

  @media screen and (min-width: 968px) {
    :root {
      --big-font-size: 3rem;
      --h1-font-size: 2.25rem;
      --h2-font-size: 1.5rem;
      --h3-font-size: 1.25rem;
      --normal-font-size: 1rem;
      --small-font-size: 0.873rem;
      --smaller-font-size: 0.813rem;
    }
  }
}

/* dark color scheme  */
body.dark-theme {
  --first-color-second: hsl(var(--hue-color), 30%, 8%);
  --title-color: hsl(var(--hue-color), 8%, 95%);
  --text-color: hsl(var(--hue-color), 8%, 75%);
  --input-color: hsl(var(--hue-color), 29%, 16%);
  --body-color: black;
  --container-color: hsl(var(--hue-color), 29%, 16%);
  transition: 0.3s ease-in;
}
.container {
  max-width: 1000px !important;
}
.nav-btns {
  display: flex;
  align-items: center;
}
.post-container {
  background-color: #fff;
  width: 90%;
  max-width: 600px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
}

.post-header {
  background-color: var(--body-color);
  color: #474747;
  padding: 20px;
  text-align: center;
}

.post-header h1 {
  font-size: 1.6rem;
  margin-bottom: 10px;
  
}
.post-header h2 {
  color: var(--title-color);
}
.post-header .date {
  font-size: 0.9rem;
}

.post-content {
  padding: 20px;
  font-size: 1rem;
  line-height: 1.6;
  
}

.post-image img {
  width: 100%;
  height: auto;
  border-top: 1px solid #ddd;
}

.post-footer {
  text-align: center;
  padding: 20px;
}

.cta-button {
  background-color: #3498db;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
}
.view-more {
  background-color: #006A64;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
}
.cta-button:hover {
  background-color: #2980b9;
}

/* Mobile responsiveness */
@media (max-width: 768px) {
  .post-container {
    width: 95%;
  }

  .post-header h1 {
    font-size: 1.4rem;
  }

  .post-content p {
    font-size: 0.9rem;
  }
}

@media (max-width: 480px) {
  .post-header h1 {
    font-size: 1.2rem;
  }

  .cta-button {
    padding: 8px 16px;
    font-size: 0.9rem;
  }
}
.change-theme {
  font-size: 1.25rem;
  color: var(--title-color);
  margin-right: 1rem;
  cursor: pointer;
}

.change-theme:hover {
  color: var(--first-color);
}
.home-img {
  display: flex;
  
}
/* theme transition  */
.header,
.footer-bg {
  transition: 0.3s ease-in;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0 0 var(--header-height) 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
  transition: 0.3s ease-in;
}

h1,
h2,
h3,
h4 {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}


.nav {
  max-width: 968px;
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: color 0.3s ease-in-out;
}

.nav-logo,
.nav-toggle {
  color: var(--title-color);
  font-weight: var(--font-medium);
}

.nav-logo:hover {
  color: var(--first-color);
}

.nav-toggle {
  font-size: 1.1rem;
  cursor: pointer;
}

.nav-toggle:hover {
  color: var(--first-color);
}

@media screen and (max-width: 767px) {
  
  .nav-menu {
    position: fixed;
    bottom: -100%;
    left: 0;
    width: 100%;
    background-color: var(--body-color);
    padding: 2rem 1.5rem 4rem;
    box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.15);
    border-radius: 1.5rem 1.5rem 0 0;
    transition: 0.3s;
  }
}

.nav-list {
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.nav-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: var(--small-font-size);
  color: var(--title-color);
  font-weight: var(--font-medium);
}

.nav-link:hover {
  color: var(--first-color);
}

.nav-icon {
  font-size: 1.2rem;
}
.navbar h1 {
  font-size: 16px;

}
.nav-close {
  position: absolute;
  right: 1.3rem;
  bottom: 0.5rem;
  font-size: 1.5rem;
  cursor: pointer;
  color: var(--first-color);
}
.nav-close:hover {
  color: var(--first-color-alt);
}
.profile-hero {
  background-color: var(--body-color);
  border-radius: 0.5rem;
  overflow: hidden;
  font-family: Arial, sans-serif;
  color: #333;
  transition: 0.3s ease-in;
}
.main {
  margin-top: 50px;
}
.profile-hero .banner {
  width: 100%;
  height: 200px;
  background-image: url("../assets/linkedin.png");
  background-size: cover;
  background-position: center;
  border: 4px solid #eeeaea;}

.profile-hero .content {
  position: relative;
  padding-top: 30px;
}

.profile-hero .avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  overflow: hidden;
  border: 4px solid #eeeaea;
  position: absolute;
  top: -60px;
  left: 10%;
  transform: translateX(-50%);
}

.profile-hero .avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
}

.profile-hero .name {
  font-size: 1.6rem;
  font-weight: bold;
  margin-top: 4rem;
  color: var(--text-color);
}
#theme-button {
  padding-left: 20px;
}
header .logo-image {
  border-radius: 100%;
}
.buttons {
  margin-top: 20px;
}
.buttons a {
  padding: 8px 55px;
  background-color: #006A64;
  border: none;
  color: white;
  border-radius: 100px;
  cursor: pointer;
}
.buttons a:hover {
  padding: 8px 55px;
  background-color: #024a47;
  border: none;
  color: white;
  border-radius: 100px;
  
}
.about h2 {
  margin-top: 20px;
  margin-bottom: 20px;
}
.about p {
  margin-bottom: 40px;
}
.profile-hero .title {
  font-size: 1rem;
  color: var(--text-color);
  margin-top: 0.5rem;
}
.certifications-container a {
  position: relative;
  text-decoration: none;
  color: inherit;
}

.certifications-container a::before {
  content: "\f0a4"; /* Unicode for Font Awesome hand icon */
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  position: absolute;
  left: -25px; /* Adjust the positioning as needed */
  opacity: 0;
  transition: opacity 0.3s ease;
}
.fa-mug-hot {
  font-size: 20px;
  color: #6DB0F2;
}
.certifications-container a:hover::before {
  opacity: 1;
}

.profile-hero .location {
  font-size: 0.9rem;
  color: var(--text-color);
  margin-top: 0.5rem;
}

.profile-hero .social-links {
  display: flex;
  gap: 1rem;
  margin-top: 1.5rem;
}

.profile-hero .social-links a {
  text-decoration: none;
  color: #006A64;
  font-size: 1.5rem;
}
/* mobile view */
@media screen and (max-width: 1200px) {
  .work-experience-container {
    display: none;
  }
  .certifications-container {
    display: none;
  }
  .profile-hero .avatar {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    overflow: hidden;
    border: 4px solid #fff;
    position: absolute;
    top: -60px;
    left: 18%;
    transform: translateX(-50%);
  }
  .main {
    margin-top: 10px;
  }
  .container {
    margin-left: var(--margin-bottom-0-1);
    margin-right: var(--margin-bottom-0-1);
  }

  .nav-menu {
    padding: 2rem 0.25rem 4rem;
  }

  .nav-list {
    column-gap: 0;
  }

  .home-content {
    grid-template-columns: 0.25fr 3fr;
  }

  .home-blob {
    width: 180px;
  }

  .skills-name {
    font-size: var(--small-font-size);
  }

  .qualification-data {
    gap: 0.5rem;
  }

  .services-container {
    grid-template-columns: max-content;
    justify-content: center;
  }

  .services-content {
    padding-right: 3.5rem;
  }

  .services-box {
    padding: 0 0.5rem;
  }

 

  .testimonial-data,
  .testimonial-header {
    flex-direction: column;
    align-items: center;
  }

  .testimonial-img {
    margin-right: 0;
    margin-bottom: var(--margin-bottom-0-25);
  }

  .testimonial-data,
  .testimonial-description {
    text-align: center;
  }
}

/* medium devices */
@media screen and (min-width: 568px) {
  .home-content {
    grid-template-columns: max-content 1fr 1fr;
  }

  .home-data {
    grid-column: initial;
  }



  .about-container,
  .skills-container,
  .portfolio-content,
  .project-container,
  .contact-container,
  .footer-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .qualification-section {
    display: grid;
    grid-template-columns: 0.6fr;
    justify-content: center;
  }
}

@media screen and (min-width: 768px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }

  

  .section {
    padding: 6rem 0 2rem;
  }

  .section-subtitle {
    margin-bottom: 4rem;
  }

  .header {
    top: 0;
    bottom: initial;
  }

  .header,
  .main,
  .footer-container {
    padding: 0 1rem;
  }

  .nav {
    height: calc(var(--header-height) + 1.5rem);
    column-gap: 1rem;
  }

  .nav-icon,
  .nav-toggle,
  .nav-close {
    display: none !important;
  }

  .nav-list {
    display: flex;
    column-gap: 2rem;
  }

  .nav-menu {
    margin-left: auto;
  }

  .change-theme {
    margin: 0;
  }

  .home-content {
    padding-top: 5.5rem;
    column-gap: 2rem;
  }

 
  .home-scroll {
    display: block;
  }
  .home-scroll-button {
    margin-left: 3rem;
  }

  .about-container {
    column-gap: 5rem;
  }


  .about-description {
    text-align: initial;
  }

  .about-info {
    justify-content: space-between;
  }

  .about-buttons {
    justify-content: initial;
  }

  .qualification-tabs {
    justify-content: center;
  }

  .qualification-button {
    margin: 0 var(--margin-bottom-0-1);
  }

  .qualification {
    grid-template-columns: 0.5fr;
  }

  .services-container {
    grid-template-columns: repeat(3, 218px);
    justify-content: center;
  }

  .services-icon {
    font-size: 2rem;
  }

  .services-content {
    padding: 6rem 0 2rem 2.5rem;
  }

  .services-box-content {
    width: 450px;
  }

  .portfolio-img {
    width: 320px;
  }

  .portfolio-content {
    align-items: center;
  }

  .project {
    text-align: inherit;
  }

  .project-bg {
    background: none;
  }

  .project-container {
    background-color: var(--first-color-second);
    border-radius: 1rem;
    padding: 3rem 2.5rem 0;
    grid-template-columns: 1fr max-content;
    column-gap: 3rem;
  }

  .project-data {
    padding-top: 0.8rem;
  }

  .footer-container {
    grid-template-columns: repeat(3, 1fr);
  }

  .footer-bg {
    padding: 3rem 0 3.5rem;
  }

  .footer-links {
    flex-direction: row;
    column-gap: 2rem;
  }

  .footer-social {
    justify-self: flex-end;
  }

  .footer-copy {
    margin-top: 4.5rem;
  }
}

/* large devices */
@media screen and (min-width: 1024px) {
  .heder,
  .main,
  .footer-container {
    padding: 0;
  }

 

  .home-social {
    transform: translateX(-6rem);
  }

  .services-container {
    grid-template-columns: repeat(3, 238px);
  }

  .portfolio-content {
    column-gap: 5rem;
  }

  .swiper-icon {
    font-size: 3.5rem;
  }

  .swiper-button-prev {
    left: -3.5rem;
  }

  .swiper-button-next {
    right: -3.5rem;
  }

  .swiper-container-horizontal > .swiper-pagination-bullets {
    bottom: -4.5rem;
  }
}
.navbar {
  width: 100%;
  background: var( --body-color);
  color: #000;
  position: fixed;
  top: 0;
  z-index: 10;
  transition: color 0.3s ease-in-out;
  padding: 10px 0;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.menu-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  margin: 0;
}

.menu-items li {
  margin-left: 1.5rem;
}
.profile-hero .contact {
  padding-top: 20px;
}
.profile-hero .contact .contact-info {
  color: var(--text-color);
  font-size: 16px;
}
.navbar a {
  color: var(--text-color);
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease-in-out;
}

.navbar a:hover {
  color: #117964;
}

.logo {
  font-size: 2.3rem;
}

/* Mobile-specific styles */
@media (max-width: 768px) {
  .navbar {
      top: auto; /* Remove fixed position from top */
      bottom: 0; /* Fix navbar to the bottom of the screen */
  }

  .navbar-container {
      display: block;
      padding: 0 10px;
  }

  .menu-items {
      display: block;
      background: #fff;
      position: absolute;
      top: 0;
      width: 100%;
      left: 0;
      padding: 20px;
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
      margin-top: 64px; /* Space for the logo */
      z-index: 5;
  }

  .menu-items li {
      margin-bottom: 1.8rem;
      font-size: 1.2rem;
  }

  .logo {
      font-size: 2.5rem;
      text-align: center;
      width: 100%;
      margin-bottom: 10px;
  }
}

@media (max-width: 500px) {
  .logo {
      font-size: 2rem;
  }

  .menu-items li {
      font-size: 1.1rem;
  }
}
/* Modal Styles */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  
}
.modal h2 {
  margin-top: 20px;
  margin-bottom: 10px;
}
.modal-content {
  background-color: var(--body-color);
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 400px;
  border-radius: 10px;
}

.close-btn {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close-btn:hover,
.close-btn:focus {
  color: rgb(253, 202, 202);
  text-decoration: none;
  cursor: pointer;
}

.modal h2 {
  font-size: 1.5rem;
}

.modal p {
  font-size: 1rem;
}

/* Mobile responsiveness */
@media (max-width: 768px) {
  .modal-content {
    width: 90%;
  }
}
/* Footer Styles */
.footer {
  background-color: var(--body-color);
  color: white;
  padding: 40px 0;
  text-align: center;
  transition: 0.3s ease-in;
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
}

.footer-logo {
  text-align: left;
  max-width: 300px;
}

.footer-logo h2 {
  font-size: 2rem;
  margin-bottom: 5px;
}

.footer-logo p {
  font-size: 1rem;
  color: #bdc3c7;
}

.footer-social {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-social h3 {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.social-links {
  display: flex;
  gap: 20px;
}

.social-links a {
  color: var(--first-color);
  font-size: 1.5rem;
  text-decoration: none;
}

.social-links a:hover {
  color: #3498db;
}

.footer-contact {
  text-align: right;
  max-width: 300px;
}

.footer-contact h3 {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.footer-contact p {
  font-size: 1rem;
  color: #bdc3c7;
}

.footer-bottom {
  margin-top: 20px;
  font-size: 0.9rem;
}

.footer-bottom p {
  color: #bdc3c7;
}

/* Mobile Responsiveness */
@media (max-width: 768px) {
  .footer-content {
    flex-direction: column;
    align-items: center;
  }

  .footer-social {
    margin-top: 20px;
  }

  .footer-contact {
    margin-top: 20px;
    text-align: center;
  }
}
.navbar-container img {
  border-radius: 100%;
  margin-left: 20px;
}
#progress-container {
  top: 50px; /* Adjust this to be just below the navbar */
  left: 0;
  width: 100%;
  height: 5px; /* Height of the progress bar */
  background-color: #f3f3f3;
  display: none; /* Initially hide the progress bar */
  z-index: 9999;  /* Ensure it stays above other elements */
}

#progress-bar {
  height: 100%;
  width: 0;
  background-color: #4caf50;
  transition: width 0.1s linear; /* Smooth transition for width */
}

/* Some styling for the avatar and navbar links */
.avatar a img {
  border-radius: 50%;
  width: 100px; /* Adjust as needed */
}

.menu-items li {
  display: inline-block;
  margin-right: 10px;
}
.certifications-container {
  position: absolute;
  top: 20px;
  left: 5%;
  width: 250px;
  background-color: var(--body-color);
  border-radius: 8px;
  padding: 15px;
  box-shadow: 0 4px 8px var(--body-color);
  z-index: 100;
}

.certifications-container h2 {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.certification-post {
  background-color: var(--body-color);
  padding: 10px;
  margin-bottom: 8px;
  border-radius: 6px;
  box-shadow: 0 4px 8px var(--body-color);
}
.certification-post h3 a {
  color: var(--h3-font-size);
}
.footer-social a{
  color: var(--h3-font-size);
}
.certification-post h3 {
  font-size: 1rem;
  margin: 0;
  color: var(--hue-color);
}

.certification-post p {
  font-size: 0.85rem;
  color: var(--first-color);
}
.work-experience-container {
  position: absolute;
  top: 20px;
  right: 5%;
  width: 250px;
  background-color: var(--body-color);
  border-radius: 8px;
  padding: 15px;
  box-shadow: 0 4px 8px var(--body-color);
  z-index: 100;
}


.work-experience-container h2 {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.work-post {
  background-color: var(--body-color);
  padding: 10px;
  margin-bottom: 8px;
  border-radius: 6px;
  box-shadow: 0 4px 8px var(--body-color);
}

.work-post h3 {
  font-size: 1rem;
  margin: 0;
  color: var(--text-color-light);
}
.work-experience-container .footer-social {
  margin: 0 auto;
}
.work-post p {
  font-size: 0.85rem;
  color: var(--first-color);
}
